<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <input type="text" [(ngModel)]="serverName" />

      <p *ngIf="serverCreated">
        The server is created! Name is: : {{ serverName }}
      </p>

      @if(serverCreated){
      <p>The server is created! Name is: : {{ serverName }}</p>
      } @else {
      <p>There is no server</p>
      }

      <button
        [disabled]="!allowNewServer"
        class="btn btn-primary"
        (click)="onServerCreate()"
      >
        Add server
      </button>
    </div>
  </div>

  <div class="row">
    <app-server *ngFor="let server of servers"></app-server>

    <!-- @for(server of servers; track server){
    <app-server></app-server>
    } -->
  </div>
</div>
