<div class="container">
  <div class="row mt-3">
    <h2 class="text-center">Add new servers or blueprints</h2>
  </div>

  <app-cockpit></app-cockpit>
  <hr />
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="servers[0].name = 'Hello'">
        Change name
      </button>
      <button class="btn btn-danger ms-3" (click)="servers.shift()">
        Destroy
      </button>
    </div>
  </div>
  <hr />
  <ul class="list-group">
    @for(server of servers; track server.name){
    <app-server-item [server]="server" [name]="server.name">
      <p appBasicHighlight #paragraph>{{ server.content }}</p>
    </app-server-item>
    }
  </ul>
</div>
