<div class="row">
  <div class="col-5">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          ngModel
          name="title"
          id="title"
          type="text"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input
          ngModel
          name="content"
          id="content"
          type="text"
          class="form-control"
        />
      </div>

      <button class="btn btn-primary" type="submit">Send post</button>
    </form>
  </div>
</div>

<hr />

<div class="row">
  <div>
    <button class="btn btn-primary me-2" (click)="onFetchPosts()">
      Fetch posts</button
    ><button class="btn btn-danger">Clear post</button>
  </div>

  @if(isFetching){
  <p>Loading...</p>
  }@else {
  <ul class="mt-3">
    @for(post of posts; track post.title){
    <li>{{ post.title }} - {{ post.content }}</li>
    }@empty {
    <p>This is no post</p>
    }
  </ul>
  }
</div>
